[Unit]
Description=getwtxt

[Service]
Type=simple
ExecStart=/usr/local/getwtxt/getwtxt \
          --assets /usr/local/getwtxt/assets \
          --config /usr/local/getwtxt/getwtxt.yml \
          --db /usr/local/getwtxt/getwtxt.db \
          --dbtype leveldb \
          --proxied
Restart=always

[Install]
WantedBy=multi-user.target
